* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.nav-container {
  background: black;
  color: white;
  padding: 12px 30px;

}

.navbar {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-title {
  font-weight: 400;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.461);
}

.nav-logo {
  width: 70px;
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.cart-btn {
  background: orange;
  border: none;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
}

/* PAGE CONTENT */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #555;
}

/* SECTIONS */
.section {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 40px 0;
}

.section .reverse {
  flex-direction: row-reverse;
}

.section img,
.delivery img {
  width: 45%;
  border-radius: 4px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* DELIVERY */
.delivery {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: orange;
  font-size: 14px;
}